#wrap{
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid red;
}

#autor{
    position: fixed;
    height: 60%;
    width: 60%;

}

body {
    font-family: "Arial Black";
    width: 100%;
    height: 100%;
    background-image: url("KoloFortuny_logo.png");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}
